


.milestone-task-header {
    display: grid;
    grid-template-columns: 2fr repeat(3,1fr) 1.5fr repeat(2,1fr);
    background-color: #ccc;
    padding: 15px 20px;
    width: calc(100% + 40px);
    margin-left: -20px;
    border-bottom: 1px solid rgb(157, 157, 157);
    font-weight: 500;
}